<%- include("partials/header") %>
<%- include("partials/nav") %>

<div class="page-header">
    <h1 class="section-header">Events</h1>

    <% if (user && user.level === "M") { %>
        <a class="btn btn-primary add-btn" href="/events/edit">Add Event</a>
    <% } %>
</div>

<div class="search-bar">
    <form method="GET" action="/donations" class="search-bar">
        <input type="text" name="search" placeholder="Search..." value="<%= search %>">
        <button class="btn btn-primary" type="submit">Search</button>
        <a class="btn btn-secondary" href="<%= clearPath %>">Clear</a>
    </form>
</div>


<div class="card">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>Location</th>
                <th>Capacity</th>

                <% if (user && user.level === "M") { %>
                    <th class="actions-header">Actions</th>
                <% } %>
            </tr>
        </thead>

        <tbody>
            <% events.forEach(e => { %>
                <tr>
                    <td><%= e.EventName %></td>
                    <td><%= e.EventDateTimeStart %></td>
                    <td><%= e.EventLocation %></td>
                    <td><%= e.EventCapacity %></td>

                    <% if (user && user.level === "M") { %>
                        <td class="action-buttons">
                            <a class="btn btn-secondary btn-sm" href="/events/edit/<%= e.EventOccurrenceID %>">Edit</a>

                            <form method="POST" action="/events/delete/<%= e.EventOccurrenceID %>" class="inline-form">
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    <% } %>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
